.navbar-collapse.show {
    animation: fade-in 0.4s ease-in;
}

.nav-item {
    animation-name: fade-in .5s ease-in;
    padding-left: 10px;
    
}

.nav-link {
    padding-left: 10px;
}

@media screen and (max-width: 760px) {
    .nav-item {
        border: 1px solid #FF8800;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}