.custom_jumbotron {
    animation-name: leftIn;
    animation-duration: 0.8s;
    height: 100vh;
    padding: 60px 0 0 100px;
    overflow: hidden;
    position: relative;
}

.our-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100px;
    top: 60px;
    right: 80px;
    position: absolute;
}

.our-socials img {
    border: 3px soild grey;
    width: 120px;
    margin: auto;
    opacity: .15;
}

.our-socials i {
    font-size: 1.7em;
    letter-spacing: .5em;   
}

.social-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    animation: fadeIn 1.2s ease-in;
    margin: 25px 0;
}

.right-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.icons-wrap {
    display: flex;
    justify-content: space-around;
}
/*animations -----------------------*/

@keyframes  leftIn{
    from {
        margin-left: -400px
    }

    to {
        margin: 0;
    }
}

@keyframes  fadeIn{
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

/*media queries -----------------------*/

@media screen and (max-width: 625px) {
    .custom_jumbotron {
        animation-name: leftIn;
        animation-duration: 0.8s;
        padding: 0;
        overflow: hidden;
        margin: auto;
        padding-top: 30px;
        width: 300px;
    }

    .our-socials {
        top: 325px;
        left: 150px;
        position: absolute;
    }

    .our-socials i {
        font-size: 1.6em;
        letter-spacing: .5em;   
    }

    .social-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 7em;
        animation: fadeIn 1.2s ease-in;
        margin: 25px 0;
    }
}